::selection {
  background-color: rgba(6, 59, 134, 0.51); }

a {
  color: rgba(13, 75, 2, 0.96);
  text-decoration: none;
  text-shadow: 0.4px 0.4px; }

a:hover {
  text-decoration: underline; }

.a > ul > li > a:hover {
  text-decoration: underline;
  -webkit-animation: test 200ms;
  animation: test 200ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes test {
  0% {
    padding-left: 0; }
  100% {
    padding-left: 0.4%; } }
@keyframes test {
  0% {
    padding-left: 0; }
  100% {
    padding-left: 0.4%; } }
a:active {
  opacity: 0.8; }

ul {
  list-style: none; }

.a > ul > li:hover {
  list-style-image: url("img/icon_arrow.gif"); }

input[type=submit] {
  opacity: 0.9;
  background-color: rgba(1, 66, 175, 0.9);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
  outline: none; }

input[type=text]:hover {
  background-color: rgba(173, 216, 230, 0.41); }

input[type=text]:focus {
  background-color: rgba(173, 216, 230, 0.61); }

input[type=text] {
  width: 20%;
  outline: none;
  border: solid 1px rgba(0, 1, 125, 0.7);
  border-radius: 5px;
  padding: 12px 10px;
  margin: 4px 0; }

input[type=submit]:hover {
  opacity: 1; }

.border {
  border-bottom: solid;
  width: 200px;
  position: relative;
  bottom: 20px;
  -webkit-animation: test3 1.2s;
  animation: test3 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes test3 {
  0% {
    right: 250px; }
  100% {
    right: 0; } }
@keyframes test3 {
  0% {
    right: 250px; }
  100% {
    right: -2px; } }
.animation1 > h2 {
  opacity: 0;
  -webkit-animation: test4 1s;
  animation: test4 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s; }

@-webkit-keyframes test4 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes test4 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.animation2 > h2 {
  opacity: 0;
  -webkit-animation: test5 1s;
  animation: test5 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

@-webkit-keyframes test5 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes test5 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px; }

.check input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #8fbd9f;
  border: solid 1px rgba(6, 8, 255, 0.38); }

.check:hover input ~ .checkmark {
  background-color: rgba(24, 110, 177, 0.75); }

.check input:checked ~ .checkmark {
  background-color: #186eb1; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.check input:checked ~ .checkmark:after {
  display: block; }

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

th, td {
  padding: 3px; }

/*# sourceMappingURL=style.css.map */
